// --colors--

:root {
    --primary-color: #2db0ba;
    --secondary-color: #ffd801;
    --black: #231f20;
    --pink: #f48d8e;
    --lightyellow: #ffea71;
    --yellow: #ffd801;
    --lightblue: #3bdae6;
    --blue: #2db0ba;
    --darkblue: #21868d;
    --white: #FFF;
    --mintwhite: #F5FFFA;
    --offwhite: #fafafa;
    --lightgreen: #A0DAA9;
    --errormessage: rgba(238, 39, 39, 0.521);
    --successmessage: rgba(23, 252, 23, 0.548);
    --message: #ffd9018f;
    --footer-color: #0e1111;
}